In [17]:
import csv
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize
import statistics

In [2]:
data = pd.read_excel("C:/Users/janva/Documents/Git projects/gall_thesis2/data/All_results_pretest.xlsx", sheet_name = "Sheet2")

#data = pd.read_csv("C:/Users/janva/Documents/Git projects/gall_thesis2/data/Thesis2_pretest_May 6, 2023_02.05.csv")
data

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q Des 5_2,Q Des 5_3,Gender,Age,Freq purch,Freq drink,Q61,Q64,QID62,Q63
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Geef aan wat u van de product omschrijving von...,Geef aan wat u van de product omschrijving von...,Wat is uw geslacht?,Wat is uw leeftijd?,Hoe vaak koopt u wijn?,Hoe vaak drinkt u wijn?,Stelling: Bier is een alledaags product,Stelling: Wijn is een alledaags product,Stelling: Een wijn van €5.98 is een alledaags ...,Stelling: Een wijn van €14.65 is een alledaags...
1,45027.5,45027.5,0,185.146.189.245,100,154,1,45027.5,R_zZv7jCjdfKH9Kk9,NaN,...,NaN,NaN,2,18,1,2,NaN,NaN,NaN,NaN
2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,NaN,...,7,7,2,52,1,1,NaN,NaN,NaN,NaN
3,45027.5,45027.5,0,213.247.75.210,100,161,1,45027.5,R_12xPeGibZnzmHQM,NaN,...,NaN,NaN,1,21,1,1,NaN,NaN,NaN,NaN
4,45027.6,45027.6,0,62.238.74.144,100,114,1,45027.6,R_3CHg9MlH8IB7JPO,NaN,...,NaN,NaN,2,18,1,1,NaN,NaN,NaN,NaN
5,45027.6,45027.6,0,62.238.74.144,100,80,1,45027.6,R_31RF8k6Ar24aJQF,NaN,...,NaN,NaN,1,27,2,3,NaN,NaN,NaN,NaN
6,45028.3,45028.3,0,89.200.35.96,100,102,1,45028.3,R_WqS0XtnOdRHHuFz,NaN,...,NaN,NaN,2,16,1,2,NaN,NaN,NaN,NaN
7,45029.3,45029.3,0,213.247.75.210,100,349,1,45029.3,R_1DwJ7L8elDRcyIX,NaN,...,6,3,1,53,3,4,NaN,NaN,NaN,NaN
8,45051.1,45051.1,0,84.241.207.73,100,139,1,45051.1,R_1M66xEjFnkp2dgK,NaN,...,NaN,NaN,1,27,2,3,1,1,2,2
9,45051.1,45051.1,0,213.247.75.210,100,293,1,45051.1,R_1mXjjdVdmvN5svA,NaN,...,6,7,2,NaN,1,1,5,5,5,5
10,45051.1,45051.1,0,46.21.172.106,100,224,1,45051.1,R_3oC8iMEeAiPaCqD,NaN,...,4,2,1,26,1,2,2,4,4,4
11,45051.1,45051.1,0,89.205.227.131,100,140,1,45051.1,R_10IujkeDzA425LQ,NaN,...,NaN,NaN,2,15,1,2,2,2,4,3
12,45051.2,45051.2,0,84.241.196.157,100,174,1,45051.2,R_1LwCGsugnV93WF7,NaN,...,1,2,1,23,3,3,4,4,4,4
13,45051.2,45051.2,0,185.146.189.245,100,212,1,45051.2,R_1PRgzSKxZf5rVRK,NaN,...,NaN,NaN,2,20,3,3,5,4,5,5
14,45051.2,45051.2,0,89.200.45.9,100,3239,1,45051.2,R_3neihSgNWMOatqz,NaN,...,NaN,NaN,1,21,1,1,1,4,4,4
15,45051.2,45051.2,0,213.247.75.210,100,134,1,45051.2,R_3kLDbv5U2VFzmWs,NaN,...,5,3,2,16,1,3,4,4,4,4
16,45052.3,45052.3,0,81.204.176.143,100,115,1,45052.3,R_bm6ZeYQEejWsl1f,NaN,...,NaN,NaN,1,21,2,2,3,3,3,4
17,45052.4,45052.4,0,143.178.156.124,100,81,1,45052.4,R_viWZyICNdNu72Ol,NaN,...,NaN,NaN,2,23,5,5,5,3,2,4
18,45052.4,45052.4,0,213.177.137.74,100,109,1,45052.4,R_21jh6XOCT1AkHch,NaN,...,3,3,1,18,1,1,4,4,3,3
19,45052.4,45052.4,0,87.208.25.240,100,83,1,45052.4,R_Uxy7uCExkwShisp,NaN,...,5,3,2,23,3,2,4,4,4,4
20,45052.5,45052.5,0,86.87.154.189,100,69,1,45052.5,R_2fHhJPUyinn7J32,NaN,...,5,4,2,26,2,1,4,4,3,3
21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,NaN,...,NaN,NaN,2,21,2,2,5,5,3,3

In [3]:
wtp = data.iloc[2:,17:29]
wtp = wtp.reset_index()
wtp

,index,WTP,Q SP BND,Q SP DBN,Q SP NDB,Q SP DNB,Q Des 1_1,Q Des 1_2,Q Des 1_3,Q Des 2_1,Q Des 2_2,Q Des 2_3,Q Des 3_1
0,2,2,Q SP NDB,NDB,SP,11.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,3,Q SP NBD,NBD,SP,20.99,NaN,NaN,NaN,6,6,4,NaN
2,4,2,Q EO DBN,DBN,EO,11.99,5,5,1,NaN,NaN,NaN,NaN
3,5,3,Q SP DBN,DBN,SP,20.99,NaN,NaN,NaN,NaN,NaN,NaN,2
4,6,3,Q SP BND,BND,SP,20.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,1,Q EO NBD,NBD,EO,6.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8,2,Q EO BND,BND,EO,11.99,6,6,6,4,5,5,5
7,9,1,Q SP NBD,NBD,SP,6.99,NaN,NaN,NaN,NaN,NaN,NaN,7
8,10,2,Q EO DNB,DNB,EO,11.99,3,4,1,5,6,3,NaN
9,11,1,Q EO NDB,NDB,EO,6.99,NaN,NaN,NaN,2,2,3,2
10,12,1,Q SP DBN,DBN,SP,6.99,2,2,1,NaN,NaN,NaN,1
11,13,1,Q EO NBD,NBD,EO,6.99,NaN,NaN,NaN,2,2,2,5
12,14,2,Q SP BDN,BDN,SP,11.99,2,2,1,5,6,5,NaN
13,15,3,Q SP NBD,NBD,SP,20.99,3,4,2,4,4,3,NaN
14,16,1,Q SP DNB,DNB,SP,6.99,3,3,4,3,2,4,NaN
15,17,2,Q SP BDN,BDN,SP,11.99,4,4,4,3,3,4,2
16,18,2,Q EO BDN,BDN,EO,11.99,NaN,NaN,NaN,2,2,2,3
17,19,1,Q SP DBN,DBN,SP,6.99,1,1,1,NaN,NaN,NaN,NaN
18,20,1,Q EO DBN,DBN,EO,6.99,NaN,NaN,NaN,4,3,3,2
19,21,1,Q EO NDB,NDB,EO,6.99,2,1,2,1,1,1,NaN

In [4]:
readability

NameError: name 'readability' is not defined

In [5]:
readability = data.iloc[2:,22:37]
readability.columns
col_names = []
for i in readability.columns:
    i = i.replace("Q Des ", "")
    col = i.split('_')
    col_name = "Q"+col[1]+"D"+col[0]
    col_names.append(col_name)
readability.columns = col_names

In [6]:
readability = readability.reset_index()
readability

,index,Q1D1,Q2D1,Q3D1,Q1D2,Q2D2,Q3D2,Q1D3,Q2D3,Q3D3,Q1D4,Q2D4,Q3D4,Q1D5,Q2D5,Q3D5
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7,7
1,3,NaN,NaN,NaN,6,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,5,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
4,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5,2,NaN,NaN,NaN
5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6,3
6,8,6,6,6,4,5,5,5,5,5,NaN,NaN,NaN,NaN,NaN,NaN
7,9,NaN,NaN,NaN,NaN,NaN,NaN,7,7,7,6,4,4,7,6,7
8,10,3,4,1,5,6,3,NaN,NaN,NaN,NaN,NaN,NaN,3,4,2
9,11,NaN,NaN,NaN,2,2,3,2,2,5,4,5,4,NaN,NaN,NaN
10,12,2,2,1,NaN,NaN,NaN,1,2,2,NaN,NaN,NaN,3,1,2
11,13,NaN,NaN,NaN,2,2,2,5,5,1,4,3,1,NaN,NaN,NaN
12,14,2,2,1,5,6,5,NaN,NaN,NaN,1,2,1,NaN,NaN,NaN
13,15,3,4,2,4,4,3,NaN,NaN,NaN,NaN,NaN,NaN,2,5,3
14,16,3,3,4,3,2,4,NaN,NaN,NaN,2,3,3,NaN,NaN,NaN
15,17,4,4,4,3,3,4,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN
16,18,NaN,NaN,NaN,2,2,2,3,3,3,NaN,NaN,NaN,3,3,3
17,19,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,3,5,3
18,20,NaN,NaN,NaN,4,3,3,2,2,2,NaN,NaN,NaN,5,5,4
19,21,2,1,2,1,1,1,NaN,NaN,NaN,7,7,7,NaN,NaN,NaN

In [7]:
columns = ['index', 'Description', 'Question', 'Value']

# Create an empty list to store the transformed data
long_data = []

index_col = readability['index']
# Iterate over the columns of the original dataframe
for column in readability.columns[1:]:
    # Split the column name into description and question parts
    question, description = column.split('D')
    
    # Extract the values from the original dataframe column
    values = readability[column].values.tolist()
    
    # Create tuples of (description, question, value) for each row
    rows = list(zip(index_col, [description]*len(values), [question]*len(values), values))
    
    # Extend the long_data list with the rows
    long_data.extend(rows)

# Create a new dataframe from the long_data list using the defined columns
long_df = pd.DataFrame(long_data, columns=columns)
long_df

     index Description Question  Value
0        2           1       Q1    NaN
1        3           1       Q1    NaN
2        4           1       Q1    5.0
3        5           1       Q1    NaN
4        6           1       Q1    NaN
..     ...         ...      ...    ...
295     17           5       Q3    NaN
296     18           5       Q3    3.0
297     19           5       Q3    3.0
298     20           5       Q3    4.0
299     21           5       Q3    NaN

[300 rows x 4 columns]

In [8]:
data = data.reset_index()

full_data = pd.merge(data, long_df, on = "index")

In [9]:
full_data = full_data[full_data.columns.drop(list(full_data.filter(regex=r'Q Des')))]

In [ ]:
# Dale-chall score

In [10]:
descriptions = pd.read_excel("C:/Users/janva\Documents\Git projects\gall_thesis2\data\Survey Conditions DC-score.xlsx")
descriptions

   Description                                               Text
0            1  Deze Rioja Blanco krijgt drie maanden houtrijp...
1            2  Alcoholvrije rode wijn gemaakt van de druif me...
2            3  Nieuw-Zeelandse sauvignon blanc op z'n best. A...
3            4  Chardonnay is als een kameleon. De wijnmaker k...
4            5  Sauvignon blanc wordt normaalgesproken aangepl...

In [11]:
subtlex = pd.read_excel("../../data/SUBTLEX-NL.xlsx")
top_3000 = list(subtlex.loc[:3000,'Word'])
top_3000_lemma = list(subtlex.loc[:3000,'dominant.pos.lemma'])

In [12]:
unfamiliarities = []
number_of_words = []

for index, row in descriptions.iterrows():
    length = len(sent_tokenize(str(row['Text'])))
    familiarity = 0
    bag_of_words = row['Text'].split()
    for word in bag_of_words:
        if word.lower() in top_3000:
            familiarity += 1
        elif word.lower() in top_3000_lemma:
            familiarity += 1
    unfamiliarity = 1- familiarity / len(bag_of_words)
    print(unfamiliarity)
    number_words = len(bag_of_words)/length
    print(number_words)
    unfamiliarities.append(unfamiliarity)
    number_of_words.append(number_words)

descriptions['unfamiliarity'] = unfamiliarities
descriptions['number_words'] = number_of_words
descriptions

0.48
8.333333333333334
0.4242424242424242
11.0
0.53125
8.0
0.38235294117647056
8.5
0.5254237288135593
11.8

,Description,Text,unfamiliarity,number_words
0,1,Deze Rioja Blanco krijgt drie maanden houtrijp...,0.480000,8.333333
1,2,Alcoholvrije rode wijn gemaakt van de druif me...,0.424242,11.000000
2,3,Nieuw-Zeelandse sauvignon blanc op z'n best. A...,0.531250,8.000000
3,4,Chardonnay is als een kameleon. De wijnmaker k...,0.382353,8.500000
4,5,Sauvignon blanc wordt normaalgesproken aangepl...,0.525424,11.800000

In [18]:
average_log_wfs = []
words = list(subtlex['Word'])
size_data = len(description)
i = 0
for index, row in descriptions.iterrows():
    print(f"{i}/{size_data}")
    i += 1
    log_wfs = []
    description = row['Text']
    for word in description.split():
        if word in words:
            log_wf = subtlex[subtlex['Word']==word]['Lg10CD'].iloc[0]
        else:
            log_wf = 0
        log_wfs.append(log_wf)
        average_log_wf = statistics.mean(log_wfs)
    average_log_wfs.append(average_log_wf)  
descriptions['log_wf'] = average_log_wfs

0/22
1/22
2/22
3/22
4/22

In [92]:
descriptions.to_csv('../../gen/input/descriptions_clean.csv', sep = ";")

In [13]:
descriptions['Description'] = descriptions['Description'].astype(str)

In [104]:
del description

In [19]:
merged_data = pd.merge(full_data, descriptions, on = "Description", how = "left")
merged_data

,index,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Q64,QID62,Q63,Description,Question,Value,Text,unfamiliarity,number_words,log_wf
0,2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,...,NaN,NaN,NaN,1,Q1,NaN,Deze Rioja Blanco krijgt drie maanden houtrijp...,0.480000,8.333333,1.591960
1,2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,...,NaN,NaN,NaN,1,Q2,NaN,Deze Rioja Blanco krijgt drie maanden houtrijp...,0.480000,8.333333,1.591960
2,2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,...,NaN,NaN,NaN,1,Q3,NaN,Deze Rioja Blanco krijgt drie maanden houtrijp...,0.480000,8.333333,1.591960
3,2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,...,NaN,NaN,NaN,2,Q1,NaN,Alcoholvrije rode wijn gemaakt van de druif me...,0.424242,11.000000,2.392897
4,2,45027.5,45027.5,0,213.247.75.210,100,123,1,45027.5,R_2VsYt7c9PQoLUtT,...,NaN,NaN,NaN,2,Q2,NaN,Alcoholvrije rode wijn gemaakt van de druif me...,0.424242,11.000000,2.392897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,...,5,3,3,4,Q2,7.0,Chardonnay is als een kameleon. De wijnmaker k...,0.382353,8.500000,2.317932
296,21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,...,5,3,3,4,Q3,7.0,Chardonnay is als een kameleon. De wijnmaker k...,0.382353,8.500000,2.317932
297,21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,...,5,3,3,5,Q1,NaN,Sauvignon blanc wordt normaalgesproken aangepl...,0.525424,11.800000,1.982690
298,21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,...,5,3,3,5,Q2,NaN,Sauvignon blanc wordt normaalgesproken aangepl...,0.525424,11.800000,1.982690
299,21,45054.3,45054.3,0,212.120.80.224,100,52,1,45054.3,R_1FE4hPTWadfFeNK,...,5,3,3,5,Q3,NaN,Sauvignon blanc wordt normaalgesproken aangepl...,0.525424,11.800000,1.982690

In [20]:
merged_data = merged_data[merged_data['Value'].notna()]

In [21]:
merged_data.to_csv('../../gen/input/pretest_clean.csv', sep = ";")